
 <!-- Estructura para introducir a la presentacion -->
 <div style="height: 20px;"></div>
 <!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA -->
 <div style="height: 70px;"></div>
 <div class="servicios-section">
     <h1>-Bienvenida a Nuestros Planes de Salud para Tus Gatitos y Perritos-</h1>
     <h2>Descubre Ofertas Fabulosas y Consejos Esenciales</h2>
     <p>-Bienvenido a ZoofiPetsde, donde ofrecemos planes de salud exclusivos para tus gatitos. Aquí encontrarás ofertas fabulosas diseñadas para cuidar a tus amiguitos peludos. Además, podrás acceder a videos con consejos claros sobre el cuidado de tus mascotas.-</p>
   </div>




<style>
  .card {
    width: 28rem; /* Aumentar el ancho de las tarjetas */
  }
  
  .card img {
    width: 100%; /* Ocupar todo el ancho de la tarjeta */
    height: 250px; /* Aumentar la altura de las imágenes */
    object-fit: cover; /* Cubrir la tarjeta sin distorsionar la imagen */
  }
  
  .card-text {
    font-weight: bold; /* Poner en negrilla las letras */
  }
</style>

<div class="container my-5">
  <h2 class="text-center mb-4">¿En qué etapa está tu mascota?</h2>
  <div class="d-flex justify-content-center">
    <div class="card mr-3">
      <div class="card-body text-center">
        <p class="card-text">-Gatitos-</p>
        <img src="gatitos.jpeg" alt="Gatito" class="img-fluid">
        <a href="https://www.youtube.com/embed/J3NAYXXyBVI" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
      </div>
    </div>
    <div class="card mx-3">
      <div class="card-body text-center">
        <p class="card-text">-Gatos Adultos-</p>
        <img src="gatosAdultos.jpeg" alt="Gato adulto" class="img-fluid">
        <a href="https://www.youtube.com/embed/FVUQfoCAUGk" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
      </div>
    </div>
    <div class="card ml-3">
      <div class="card-body text-center">
        <p class="card-text">-Gatos Ancianos-</p>
        <img src="gatosviejos.jpg" alt="Gato senior" class="img-fluid">
        <a href="https://www.youtube.com/embed/v00ci8BvBIE" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
      </div>
    </div>
  </div>
</div>



  <style>
    /* Estilos para ajustar el tamaño de los videos */
    .tab-pane iframe {
      width: 100%; /* Ocupa todo el ancho del contenedor */
      height: 550px; /* Ajusta la altura según sea necesario */
    }
  </style>
  <body>
  
  <div class="container mt-5">
    <h1 class="text-center mb-4">Pestañas con Videos de YouTube, que te pueden interesar!!</h1>
  
    <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-gatitos-list" data-bs-toggle="list" href="#list-gatitos" role="tab" aria-controls="list-gatitos">-Plan de Cuidado Para "Gatitos"-</a>
          <a class="list-group-item list-group-item-action" id="list-adultos-list" data-bs-toggle="list" href="#list-adultos" role="tab" aria-controls="list-adultos">-Plan de Cuidado Para "Gatos Adultos"-</a>
          <a class="list-group-item list-group-item-action" id="list-senior-list" data-bs-toggle="list" href="#list-senior" role="tab" aria-controls="list-senior">-Plan de Cuidado Para "Gatos Ancianos"-</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-gatitos" role="tabpanel" aria-labelledby="list-gatitos-list">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/J3NAYXXyBVI" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>
          <div class="tab-pane fade" id="list-adultos" role="tabpanel" aria-labelledby="list-adultos-list">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/FVUQfoCAUGk" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>
          <div class="tab-pane fade" id="list-senior" role="tabpanel" aria-labelledby="list-senior-list">
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/v00ci8BvBIE" title="YouTube video" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  



<!-- Estructura para introducir a la presentacion -->
<div style="height: 20px;"></div>
<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA -->
<div style="height: 70px;"></div>
<div class="servicios-section">
    <h1>-Bienvenida a Nuestros Planes de Salud para Gatitos-</h1>
    <h2>Descubre Ofertas Fabulosas y Consejos Claves</h2>
    <p>-¡Bienvenido a ZoofiPetsde! Estamos emocionados de ofrecerte planes de salud diseñados específicamente para tus gatitos. Aquí encontrarás ofertas fabulosas en servicios veterinarios y productos especializados. Además, nuestros videos están llenos de consejos clave sobre el cuidado diario de tus amiguitos peludos.-</p>
  </div>

  <style>
    .card {
      width: 20rem; /* Aumentar el ancho de las tarjetas */
      margin: 0 2rem; /* Aumentar el espacio entre tarjetas */
    }
  
    .card img {
      width: 100%; /* Ocupar todo el ancho de la tarjeta */
      height: 250px; /* Aumentar la altura de las imágenes */
      object-fit: cover; /* Cubrir la tarjeta sin distorsionar la imagen */
    }
  
    .card-text {
      font-size: 1.2rem; /* Aumentar el tamaño de la fuente */
      font-weight: bold; /* Poner en negrilla las letras */
    }
  </style>
  
  <div class="container my-5">
    <h2 class="text-center mb-4">¿En qué etapa está tu mascota?</h2>
    <div class="d-flex justify-content-center">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">-Cachorros-</p>
          <img src="cachorros.jpeg" alt="Cachorro" class="img-fluid">
          <a href="https://youtu.be/LZ9AKsUCcTI?si=sNQrKBj0EvMMyI9H" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">-Perros Adultos-</p>
          <img src="perrosAdultos.jpg" alt="Perro adulto" class="img-fluid">
          <a href="https://youtu.be/7HAZ0V3AEcU?si=T2f-4Vg5QQ7n6SNw" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">-Perros Ancianos-</p>
          <img src="perroadulto.jpg" alt="Perro anciano" class="img-fluid">
          <a href="https://youtu.be/T9cBRQjfrCg?si=SfRu_QQfxaxPG6La" class="btn btn-primary mt-2" target="_blank">MIRA ESTE VIDEO</a>
        </div>
      </div>
    </div>
  </div>



<!-- Estilos para ajustar el tamaño de los videos -->
<style>
    .tab-pane iframe {
        width: 100%; /* Ocupa todo el ancho del contenedor */
        height: 550px; /* Ajusta la altura según sea necesario */
    }
    </style>
    
    
    
    <div class="container mt-5">
        <h1 class="text-center mb-4">Pestañas con Videos de YouTube</h1>
    
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-gatitos-list" data-bs-toggle="list" href="#list-gatitos" role="tab" aria-controls="list-gatitos">Plan de cuidado Para "cachorros"</a>
                    <a class="list-group-item list-group-item-action" id="list-adultos-list" data-bs-toggle="list" href="#list-adultos" role="tab" aria-controls="list-adultos">Plan de cuidado Para "Perros Adultos"</a>
                    <a class="list-group-item list-group-item-action" id="list-senior-list" data-bs-toggle="list" href="#list-senior" role="tab" aria-controls="list-senior">Plan de cuidado Para "Perros Ancianos"</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-gatitos" role="tabpanel" aria-labelledby="list-gatitos-list">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/LZ9AKsUCcTI" title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-adultos" role="tabpanel" aria-labelledby="list-adultos-list">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/7HAZ0V3AEcU" title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-senior" role="tabpanel" aria-labelledby="list-senior-list">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/T9cBRQjfrCg" title="YouTube video" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    




<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
    <div style="height: 20px;"></div>


<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- ESTRUCTURA DEL FONDO DE LOS ANIMALITOS ANIMADOS -->
<div class="page-container">
  <div class="movie-section">
      <div class="header">
          <h1>¡GRACIAS POR VISITARNOS Y QUE TENGAS UN BUEN DÍA!</h1>
          <h2>-Te presentamos los valores que transmitimos en -ZoofiPets-</h2>
          <div class="header-image">
              <img src="fondo1.png" alt="patitas">
          </div>
      </div>

      <div class="movie-grid">
          <!-- TARJETA ANIMADA 1 -->
          <div class="text-center">
              <div class="movie-card">
                  <img src="perro1.jpg" alt="Perrito">
                  <div class="card-overlay">
                      <h5 class="card-title">-Compasión-</h5>
                      <p class="card-description"> Empatía y cuidado amoroso hacia animales y sus dueños</p>
                  </div>
              </div>
          </div>

          <!-- TARJETA ANIMADA 2 -->
          <div class="text-center">
              <div class="movie-card">
                  <img src="gato1.png" alt="gatito">
                  <div class="card-overlay">
                      <h5 class="card-title">-Profesionalismo-</h5>
                      <p class="card-description">Estándares éticos y técnicos en servicios veterinarios</p>
                  </div>
              </div>
          </div>

          <!-- TARJETA ANIMADA 3 -->
          <div class="text-center">
              <div class="movie-card">
                  <img src="perro2.png" alt="Perrito">
                  <div class="card-overlay">
                      <h5 class="card-title">-Dedicación-</h5>
                      <p class="card-description">Compromiso con el cuidado integral y personalizado</p>
                  </div>
              </div>
          </div>

          <!-- TARJETA ANIMADA 4 -->
          <div class="text-center">
              <div class="movie-card">
                  <img src="gato3.jpg" alt="gatito">
                  <div class="card-overlay">
                      <h5 class="card-title">-Transparencia-</h5>
                      <p class="card-description">Comunicación clara, honesta y confiable</p>
                  </div>
              </div>
          </div>

          <!-- TARJETA ANIMADA 5 -->
          <div class="text-center">
              <div class="movie-card">
                  <img src="perro3.jpg" alt="Perrito">
                  <div class="card-overlay">
                      <h5 class="card-title">Excelencia</h5>
                      <p class="card-description">Búsqueda continua de calidad y mejora en servicios</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


  
            <!-- REDES SOCIALES -->
            <div class="social-section">
                <h2>Síguenos en todas nuestras Redes</h2>
                <div class="social-cards">
                    <a href="https://www.facebook.com/profile.php?id=61558517858308" target="_blank" class="social-card">
                        <img src="facebook.webp" alt="Facebook">
                        <div class="social-card-body">
                            <h3>Facebook</h3>
                            <p>ZoofiPets</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/zoofipetss/" target="_blank" class="social-card">
                        <img src="Instagram.webp" alt="Instagram">
                        <div class="social-card-body">
                            <h3>Instagram</h3>
                            <p>ZoofiPetss</p>
                        </div>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=59172123456" target="_blank" class="social-card">
                        <img src="wpps.webp" alt="WhatsApp">
                        <div class="social-card-body">
                            <h3>WhatsApp</h3>
                            <p>+591 79487339</p>
                        </div>
                    </a>
                    <a href="https://www.tiktok.com/@zoofipetss?lang=es" target="_blank" class="social-card">
                        <img src="tiktok.webp" alt="TikTok">
                        <div class="social-card-body">
                            <h3>TikTok</h3>
                            <p>ZoofiPetss</p>
                        </div>
                    </a>
                    <a href="https://twitter.co" target="_blank" class="social-card">
                        <img src="twitter.webp" alt="Twitter">
                        <div class="social-card-body">
                            <h3>Twitter</h3>
                            <p>-ZoofiPetss-</p>
                        </div>
                    </a>
                </div>
            </div>

   <!-- PIE DE PAGINA -->
   <style>
    .footer {
        position: static;
        width: 100%;
        background-color: #343a40;
        color: white;
        text-align: center;
        padding: 10px 0;
        font-family: Arial, sans-serif;
    }
</style>
<body>
<!-- Contenido de la página -->

<div class="footer">
    Veterinaria -ZoofiPets- es una marca registrada. © 2023-2024 Veterinaria -ZoofiPets- Todos los derechos reservados.
</div>
</body>