
 <!-- Estructura para introducir a la presentacion -->
 <div style="height: 15px;"></div>
 <!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA -->
 <div style="height: 50px;"></div>




<!-- CAROUSEL PRINCIPAL -->
<div id="carouselExampleCaptions" class="carousel slide">
<div class="carousel-indicators">
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
<div class="carousel-item active">
  <!-- CAROUSEL 1 -->
  <video src="carousel1.mp4" class="d-block w-100" controls></video>
  <div class="carousel-caption d-none d-md-block">
    <h5>-Especialidades Veterinarias-</h5>
    <p>Ofrecemos una amplia gama de especialidades veterinarias para el cuidado integral de tus mascotas. Nuestro equipo altamente capacitado garantiza tratamientos avanzados y atención preventiva, asegurando la felicidad y longevidad de tus compañeros peludos con un enfoque especializado y compasivo</p>
  </div>
</div>
<div class="carousel-item">
  <!-- CAROUSEL 2 -->
  <video src="carousel2.mp4" class="d-block w-100" controls></video>
  <div class="carousel-caption d-none d-md-block">
    <h5>-Catálogo de Productos-</h5>
    <p>Explora nuestro catálogo completo de productos premium diseñados para el bienestar de tus mascotas. Desde alimentos y suplementos de alta calidad hasta juguetes interactivos y productos de higiene, tenemos todo lo necesario para mantener a tu amigo de cuatro patas feliz y saludable</p>
  </div>
</div>
<div class="carousel-item">
  <!-- CAROUSEL 3 -->
  <video src="carousel3.mp4" class="d-block w-100" controls></video>
  <div class="carousel-caption d-none d-md-block">
    <h5>-Compromiso con la Comunidad-</h5>
    <p>Somos más que una veterinaria; formamos parte activa de tu comunidad. A través de eventos, programas de adopción y charlas educativas, fortalecemos la relación entre humanos y animales. Nuestro compromiso es educar, apoyar y enriquecer la vida de las familias y sus adorables compañeros</p>
  </div>
</div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
</div>


<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
    <div style="height: 50px;"></div>
<!-- CENTRAR EN LA MISMA FILA -->
<div class="row justify-content-center">
<!-- TARJETA 1 -->
<div class="card col-md-3" style="width: 18rem;">
<img src="Tarjetas1.jpg" class="card-img-top" alt="...">
  <!-- CENTRAR BOTON Y LETRAS -->
<div class="card-body text-center">
  <h5 class="card-title">-ZoofiPets vive cerca de vos y tus mascotas-</h5>
  <p class="card-text">-Más de 5 centros veterinarios en todo Santa Cruz con atención 24/7 y servicio a domicilio-</p>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>
</div>

<!-- TARJETA 2 -->
<div class="card col-md-3" style="width: 18rem;">
<img src="Tarjetas2.jpg" class="card-img-top" alt="...">
  <!-- CENTRAR BOTON Y LETRAS -->
<div class="card-body text-center">
  <h5 class="card-title">-Profesionales especializados-</h5>
  <p class="card-text">-Más de 35 expertos veterinarios en nuestras sucursales que se dedican al máximo cuidado y cariño a tu mascota-</p>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>
</div>

<!-- TARJETA 3 -->
<div class="card col-md-3" style="width: 18rem;">
<img src="Tarjetas3.jpg" class="card-img-top" alt="...">
   <!-- CENTRAR BOTON Y LETRAS -->
<div class="card-body text-center">
  <h5 class="card-title">-Servicio integral-</h5>
  <p class="card-text">-Servicio especializado para adaptarnos a las necesidades de cada mascota-</p>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>
</div>

<!-- TARJETA 4 -->
<div class="card col-md-3" style="width: 18rem;">
<img src="Tarjetas4.jpg" class="card-img-top" alt="...">
  <!-- CENTRAR BOTON Y LETRAS -->
<div class="card-body text-center">
  <h5 class="card-title">-Campañas-</h5>
  <p class="card-text">-Lanzamos campañas periódicas para que tu mascota esté en plena forma ¡Estate atento!-</p>
  <a href="#" class="btn btn-primary">Ver más</a>
</div>
</div>
</div>





<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- Estructura HTML para la sección de bienvenida -->
<div class="bienvenida-section">
<h1 class="titulo-grande" onclick="aumentarTamanio(this)">¡BIENVENIDOS!</h1>
<h2 class="titulo-mediano" onclick="aumentarTamanio(this)">CLÍNICA VETERINARIA -ZoofiPets-</h2>
<h3 class="titulo-pequeno" onclick="aumentarTamanio(this)">"ESPECIALISTAS EN SALUD ANIMAL"</h3>
<p>Desde nuestra clínica veterinaria, ofrecemos a nuestros clientes valiosos consejos acerca del cuidado responsable de sus mascotas para su sano desarrollo. La medicina preventiva es la principal aliada de las mascotas para su salud de nuestras mascotas. Recordamos siempre la importancia de tener a nuestros pacientes en óptimas condiciones de salud y proveerles un ambiente sano en el que se puedan desarrollar libremente bajo el cuidado y protección de sus dueños.</p>
</div>






<!-- Estructura de introduccion a los servicios -->
<div style="height: 20px;"></div>
<div class="servicios-section">
  <h1>-Nuestros servicios-</h1>
  <h2>Su salud nos importa</h2>
  <p>-En ZoofiPetsde no solo encontrarás un excelente servicio al cliente. Nuestra atención médica veterinaria es de la más alta calidad y ofrecemos una gama completa de servicios veterinarios integrales con diagnósticos y tratamientos completos.-</p>
</div>



    <!-- Estilos personalizados para ajustar tamaños de tarjetas -->
    <style>
        /* Estilo para personalizar tamaño de tarjetas */
        .custom-card {
            width: 400px; /* Ancho deseado para cada tarjeta */
            height: 400px; /* Altura deseada para cada tarjeta */
        }

        .custom-card .card-img-top {
            height: 200px; /* Altura deseada para la imagen de la tarjeta */
            object-fit: cover; /* Ajuste de la imagen dentro de su contenedor */
        }
    </style>






<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
    <div style="height: 50px;"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- TARJETA 1 DERMATOLOGIA -->
            <div class="col">
              
                <div class="card h-100 custom-card">
                    <img src="dermatologia1.jpeg" class="card-img-top" alt="Dermatología">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Dermatología-</h5>
                        <p class="card-text">"Nuestro equipo de expertos en dermatología veterinaria está dedicado a resolver problemas de piel y alergias en tus mascotas. Descubre cómo podemos ayudar a tu compañero peludo a lucir y sentirse mejor."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 2 DESPARASITACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="desparacitacion2.jpeg" class="card-img-top" alt="Desparasitación">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Desparasitación-</h5>
                        <p class="card-text">"Mantén a tu mascota saludable y feliz con nuestro servicio. Los especialistas utilizan tratamientos efectivos y seguros para eliminar parásitos internos y externos. Descubre cómo proteger a tu compañero peludo de estas amenazas invisibles."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 3 ESTERILIZACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="esterilizacion3.jpeg" class="card-img-top" alt="Esterilización">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Esterilización-</h5>
                        <p class="card-text">"La esterilización es una decisión importante para la salud y el bienestar de tu mascota. Nuestra esterilización seguras ayudan a controlar la población de mascotas y a prevenir problemas de salud. Descubre cómo esta intervención puede beneficiar a tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 4 NUTRICION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="nutricion2.jpeg" class="card-img-top" alt="Nutrición">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Nutrición-</h5>
                        <p class="card-text">""Ofrecemos programas de nutrición adaptados a las necesidades individuales de cada mascota para mejorar su vitalidad y salud. Descubre cómo una dieta equilibrada puede beneficiar a tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 5 ODONTOLOGIA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="odontologia2.jpeg" class="card-img-top" alt="Odontología">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Odontología-</h5>
                        <p class="card-text">"Nuestro equipo veterinario ofrece un cuidado dental especializado para garantizar la salud bucal de tu mascota. Desde limpiezas dentales hasta tratamientos periodontales, estamos comprometidos a mantener la sonrisa y el bienestar de tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 6 ORTOPEDIA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="ortopedia2.jpeg" class="card-img-top" alt="Ortopedia">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Ortopedia-</h5>
                        <p class="card-text">"Ofrecemos tratamientos ortopédicos especializados para mejorar la movilidad y calidad de vida de tu mascota. Descubre cómo podemos ayudar a tu compañero peludo a recuperar su bienestar."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 7 VACUNACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="vacuna3.jpeg" class="card-img-top" alt="Vacunación">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Vacunación-</h5>
                        <p class="card-text">"Mantén a tu mascota protegida y saludable con nuestro servicio de vacunación veterinaria. Descubre cómo nuestras vacunas pueden prevenir enfermedades y asegurar el bienestar de tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 8 MEDICINA CANINA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="canino3.jpeg" class="card-img-top" alt="Medicina Canina">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Medicina Canina-</h5>
                        <p class="card-text">"Ofrecemos atención médica completa para asegurar la salud y bienestar de tu perro. Descubre cómo nuestro equipo veterinario puede proporcionar el mejor cuidado para tu fiel compañero."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 9 MEDICINA FELINA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="felino3.jpeg" class="card-img-top" alt="Medicina Felina">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Medicina Felina-</h5>
                        <p class="card-text">"En nuestra clínica veterinaria, brindamos cuidado médico especializado para gatos. Desde chequeos preventivos hasta tratamientos específicos, nuestro equipo está comprometido a proporcionar la mejor atención médica para tu querido felino."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    



<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- Estructura de introduccion a los productos -->
<div class="container">
</div>
<div class="productos-section">
  <h1>-Nuestro catalogo de productos-</h1>
  <h2>Brindarles la mejor calidad es nuestra prioridad</h2>
  <p>-En ZoofiPets, ofrecemos una amplia variedad de productos de alta calidad para el cuidado de sus mascotas. Explore nuestro catálogo donde encontrará accesorios y elementos de todo tipo para cada necesidad. Descubra cómo nuestros productos pueden mejorar la vida y el bienestar de sus queridas mascotas-</p>
</div>






<!-- Estilos personalizados para ajustar tamaños de tarjetas -->
<style>
  /* Estilo para personalizar tamaño de tarjetas */
  .custom-card {
      width: 400px; /* Ancho deseado para cada tarjeta */
      height: 400px; /* Altura deseada para cada tarjeta */
      border: 2px solid #06e8f4; /* Borde azul */
      border-radius: 10px; /* Esquinas redondeadas */
  }

  .custom-card .card-img-top {
      height: 200px; /* Altura deseada para la imagen de la tarjeta */
      object-fit: cover; /* Ajuste de la imagen dentro de su contenedor */
  }
</style>
<body>


<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- TARJETA 1 Juguetes -->
      <div class="col">
      <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="juguete2.png" class="card-img-top" alt="Juguetes">
              <div class="card-body">
                  <h5 class="card-title">-Juguetes-</h5>
                  <p class="card-text">"Descubre nuestra selección de juguetes diseñados especialmente para mantener entretenidas a las mascotas. Desde pelotas interactivas hasta rompecabezas inteligentes, ofrecemos una variedad de opciones que estimulan el juego y la actividad física de tu compañero peludo."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 2 Collares -->
      <div class="col">
     <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="collar2.PNG" class="card-img-top" alt="Collares">
              <div class="card-body">
                  <h5 class="card-title">-Collares-</h5>
                  <p class="card-text">"Explora nuestra colección de collares diseñados para combinar estilo y comodidad. Desde collares ajustables hasta opciones reflectantes para seguridad, encontrarás el accesorio perfecto para resaltar la personalidad de tu compañero mientras garantizas su bienestar."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 3 Ropas -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="ropa9.png" class="card-img-top" alt="Ropas">
              <div class="card-body">
                  <h5 class="card-title">-Ropas-</h5>
                  <p class="card-text">"Explora nuestra selección de ropa diseñada especialmente para ofrecer comodidad y estilo a tu mascota. Desde suéteres suaves hasta abrigos impermeables, tenemos opciones que mantendrán a tu compañero peludo cómodo y protegido en cualquier ocasión."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 4 Casas -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="casa6.png" class="card-img-top" alt="Casas">
              <div class="card-body">
                  <h5 class="card-title">-Casas-</h5>
                  <p class="card-text">"Descubre casas diseñadas para brindar comodidad y seguridad a tu mascota. Encuentra opciones adecuadas para interiores y exteriores, garantizando el bienestar como comodidad de tu compañero peludo."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 5 Alimentos -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="Alimento4.png" class="card-img-top" alt="Alimentos">
              <div class="card-body">
                  <h5 class="card-title">-Alimentos-</h5>
                  <p class="card-text">"Explora nuestra selección de alimentos nutritivos y equilibrados para satisfacer las necesidades de tu mascota. Encuentra opciones adecuadas para cada etapa de la vida y preferencias alimenticias, asegurando una dieta saludable y sabrosa para tu compañero peludo."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 6 Medicamentos -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="medica7.png" class="card-img-top" alt="Medicamentos">
              <div class="card-body">
                  <h5 class="card-title">-Medicamentos-</h5>
                  <p class="card-text">"Encuentra medicamentos de calidad para el cuidado de tu mascota. Nuestra selección incluye tratamientos seguros y efectivos para diversas condiciones, garantizando la salud y el bienestar de tu compañero peludo."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 7 Prevención y Cuidado -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="cuidado7.png" class="card-img-top" alt="Prevención y Cuidado">
              <div class="card-body">
                  <h5 class="card-title">-Prevención y Cuidado-</h5>
                  <p class="card-text">"Ofrecemos servicios especializados para la prevención y cuidado de la salud de tu mascota. Desde vacunaciones hasta chequeos regulares, estamos comprometidos a mantener a tu compañero peludo saludable y feliz durante toda su vida."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 8 Accesorios -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="Accesorio4.png" class="card-img-top" alt="Premios Saludables">
              <div class="card-body">
                  <h5 class="card-title">-Accesorios-</h5>
                  <p class="card-text">"Descubre nuestra variedad de accesorios diseñados para complementar el estilo y la funcionalidad de tu mascota. Desde collares y correas hasta juguetes y camas, tenemos opciones que harán que tu compañero peludo se sienta cómodo y feliz."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>


      <!-- TARJETA 9 Productos de Higiene -->
      <div class="col">
           <!-- CENTRAR BOTON Y LETRAS -->
  <div class="card-body text-center">
          <div class="card h-100 custom-card">
              <img src="higiene4.png" class="card-img-top" alt="Productos de Higiene">
              <div class="card-body">
                  <h5 class="card-title">-Productos de Higiene-</h5>
                  <p class="card-text">"Encuentra productos de alta calidad para mantener la higiene y el cuidado de tu mascota. Nuestra selección incluye champús, cepillos, y productos para cuidado dental que ayudarán a mantener a tu compañero peludo limpio y saludable."</p>
                  <a href="..." class="btn btn-primary">Ver más</a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>






<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- Estructura de finalizacion para comprar -->
<div class="container">
</div>
<div class="container">
</div>
<div class="compras-section">
  <h1>-Contactanos para reservar tu cita en nuestra familia-</h1>
  <h2>-Tambien puedes hacer todas tus compras sobre nuestro catalogo que los productos te llegaran a tu domicilio en el dia-</h2>
  <p>¡Tus consultas no molestan!</p>
</div>







<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- ESTRUCTURA DEL FONDO DE LOS ANIMALITOS ANIMADOS -->
<div class="page-container">
<div class="movie-section">
<div class="header">
    <h1>¡GRACIAS POR VISITARNOS Y QUE TENGAS UN BUEN DÍA!</h1>
    <h2>-Te presentamos los valores que transmitimos en -ZoofiPets-</h2>
    <div class="header-image">
        <img src="fondo1.png" alt="patitas">
    </div>
</div>

<div class="movie-grid">
    <!-- TARJETA ANIMADA 1 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro1.jpg" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">-Compasión-</h5>
                <p class="card-description"> Empatía y cuidado amoroso hacia animales y sus dueños</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 2 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="gato1.png" alt="gatito">
            <div class="card-overlay">
                <h5 class="card-title">-Profesionalismo-</h5>
                <p class="card-description">Estándares éticos y técnicos en servicios veterinarios</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 3 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro2.png" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">-Dedicación-</h5>
                <p class="card-description">Compromiso con el cuidado integral y personalizado</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 4 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="gato3.jpg" alt="gatito">
            <div class="card-overlay">
                <h5 class="card-title">-Transparencia-</h5>
                <p class="card-description">Comunicación clara, honesta y confiable</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 5 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro3.jpg" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">Excelencia</h5>
                <p class="card-description">Búsqueda continua de calidad y mejora en servicios</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>







<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- ESTRUCTURA DE MENSAJE Y FORMULARIO -->
    <div class="container">
        <div class="left-section">
            <h2>¿Por qué cuidar tus mascotas?</h2>
            <p>En Zoofipets, se promueve el cuidado de las mascotas por tres razones fundamentales. En primer lugar, se destaca el vínculo emocional inquebrantable que se forma entre humanos y animales al brindarles amor y atención.</p>
            <p>En segundo lugar, se garantiza la salud y el bienestar de las mascotas mediante servicios veterinarios de alta calidad y programas de cuidado personalizados.</p>
            <p>Por último, Zoofipets se compromete a crear una comunidad sólida de amantes de los animales, proporcionando recursos educativos, eventos de adopción y apoyo continuo a todas las familias que conviven con una mascota.</p>
        </div>
        <div class="right-section">
            <div class="logo">
                <img src="LOGO.jpg" alt="Logo">
            </div>
            <form>
                <input type="text" placeholder="Nombre Completo" required>
                <input type="email" placeholder="Correo electrónico" required>
                <textarea placeholder="Mensaje de opinión" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</body>


<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- SECCION DE CIERRE CON LOS DATOS RELEVANTES DE INFORMACION DE LA VETERINARIA -->
<div class="info-section">
  <div>
      <h1>-Dirección-</h1>
      <p>Entre la Avenida 18 de Marzo y calle las flores </p>
  </div>
  <div>
      <h1>-Días especiales-</h1>
      <p>Exclusivamente los Domingos - 7:00 am - 1:00 pm</p>
  </div>
  <div>
      <h1>-Horarios-</h1>
      <p>Sin ninguna excepcion de Lunes - Sábados 7:00 am - 2:30 pm</p>
  </div>
  <div>
      <h1>-Noticias-</h1>
      <p>Vuelve a visitarnos para estar al dia con lo que sucede con la familia</p>
  </div>
  <div>
      <h1>-Promociones y Ofertas-</h1>
      <p>Todos los dias contamos con fabulosos descuentos</p>
  </div>
</div>



      <!-- REDES SOCIALES -->
      <div class="social-section">
          <h2>Síguenos en todas nuestras Redes</h2>
          <div class="social-cards">
              <a href="https://www.facebook.com/profile.php?id=61558517858308" target="_blank" class="social-card">
                  <img src="facebook.webp" alt="Facebook">
                  <div class="social-card-body">
                      <h3>Facebook</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://www.instagram.com/zoofipetss/" target="_blank" class="social-card">
                  <img src="Instagram.webp" alt="Instagram">
                  <div class="social-card-body">
                      <h3>Instagram</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://api.whatsapp.com/send?phone=59172123456" target="_blank" class="social-card">
                  <img src="wpps.webp" alt="WhatsApp">
                  <div class="social-card-body">
                      <h3>WhatsApp</h3>
                      <p>+591 79487339</p>
                  </div>
              </a>
              <a href="https://www.tiktok.com/@zoofipetss?lang=es" target="_blank" class="social-card">
                  <img src="tiktok.webp" alt="TikTok">
                  <div class="social-card-body">
                      <h3>TikTok</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://twitter.co" target="_blank" class="social-card">
                  <img src="twitter.webp" alt="Twitter">
                  <div class="social-card-body">
                      <h3>Twitter</h3>
                      <p>-ZoofiPetss-</p>
                  </div>
              </a>
          </div>
      </div>

<!-- PIE DE PAGINA -->
<style>
.footer {
  position: static;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}
</style>
<body>
<!-- Contenido de la página -->

<div class="footer">
Veterinaria -ZoofiPets- es una marca registrada. © 2023-2024 Veterinaria -ZoofiPets- Todos los derechos reservados.
</div>
</body>