
 <!-- Estructura para separar -->
 <div style="height: 70px;"></div>


 <div class="specialists-section"> 
    <section class="blog-section">
        <h2 class="blog-title" style="text-align: center;">¿En qué etapa se encuentra tu gatito?</h2>
        <p class="blog-description" style="text-align: center;">
            En <strong>ZooFiPets</strong>, sabemos que cada etapa de la vida de tu gatito es única y requiere cuidados especiales. 
            <br>Desde el crecimiento de los pequeños gatitos hasta la salud de los adultos, ofrecemos consejos prácticos para cada fase de su vida. 
            <br><strong>¡Acompáñanos en este viaje para darle a tu gatito el mejor cuidado posible!</strong>
        </p>
    </section>
</div>


<div class="container"> 
    <!-- TARJETA 1 -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatito1.png" class="card-img-top" alt="Dra. María González">
                <div class="card-body">
                    <h5 class="card-title">-Alimentación adecuada-</h5>
                    <p class="card-text">"Proporciona a tu gato pequeño una dieta equilibrada y específica para gatitos. Elije alimentos de alta calidad que satisfagan sus necesidades nutricionales en esta etapa crucial de crecimiento."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>
    <!-- TARJETA 2 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatito2.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                <div class="card-body">
                    <h5 class="card-title">-Entorno seguro-</h5>
                    <p class="card-text">"Crea un entorno seguro y estimulante para tu gatito, con juguetes apropiados, rascadores y lugares para trepar. Esto fomenta el ejercicio y la exploración segura de su nuevo hogar."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 3 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatito4.png" class="card-img-top" alt="Dr. Alejandro Torres">
                <div class="card-body">
                    <h5 class="card-title">-Caja de arena y entrenamiento-</h5>
                    <p class="card-text">"Introduce a tu gatito a la caja de arena desde el principio y asegúrate de mantenerla limpia y accesible en todo momento. El entrenamiento adecuado ayudará a establecer buenos hábitos."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 4 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatito6.png" class="card-img-top" alt="Dr. Alejandro Torres">
                <div class="card-body">
                    <h5 class="card-title">-Juego y estimulación mental-</h5>
                    <p class="card-text">"Dedica tiempo a jugar con tu gatito y proporciona juguetes que fomenten el ejercicio y la estimulación mental, recuerda que son curiosos y activos, y necesitan actividad física."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 5 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatoadulto2.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                <div class="card-body">
                    <h5 class="card-title">-Socialización gradual-</h5>
                    <p class="card-text">"Ayuda a tu gatito a socializarse de manera gradual con personas y otros animales. Incluye exposición positiva a diferentes situaciones para desarrollar su confianza y sociabilidad."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 6 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatoadulto3.png" class="card-img-top" alt="Dr. Alejandro Torres">
                <div class="card-body">
                    <h5 class="card-title">-Ejercicio diario-</h5>
                    <p class="card-text">"Asegúrate de que tu gato reciba ejercicio regular para mantenerse en forma y estimulado. Usa juguetes interactivos, rascadores y juegos de caza para mantener su mente y cuerpo activos."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 7 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatoadulto4.png" class="card-img-top" alt="Dr. Alejandro Torres">
                <div class="card-body">
                    <h5 class="card-title">-Cuidado dental-</h5>
                    <p class="card-text">"Cepilla los dientes de tu gato regularmente para prevenir la acumulación de placa y enfermedades dentales. También considera el uso de alimentos y juguetes diseñados para la salud dental."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 8 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatoanciano2.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                <div class="card-body">
                    <h5 class="card-title">-Suplementos y medicamentos-</h5>
                    <p class="card-text">"Administra suplemento nutricional o medicamento recetado por el veterinario de manera regular y adecuada. Es positivo para su salud articular, la función renal o la digestión."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>

        <!-- TARJETA 9 -->
        <div class="col">
            <div class="card h-100 animated-card">
                <img src="gatoadulto6.png" class="card-img-top" alt="Dr. Alejandro Torres">
                <div class="card-body">
                    <h5 class="card-title">-Tiempo de calidad-</h5>
                    <p class="card-text">"Dedica tiempo cada día para interactuar y jugar con tu gato. El tiempo de calidad fortalece el vínculo entre tú y tu mascota, reduce el estrés y fomenta su bienestar emocional."</p>
                    <button type="submit" class="btn btn-purple btn-lg" style="width: 100%;">Enviar reserva</button>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="container my-5"> 
    <h2 class="text-center mb-4">¿Tienes dudas? ¡Escríbelas aqui!</h2>
    <div class="row">
      <div class="col-12">
        <div class="hstack gap-3 justify-content-start">
          <input class="form-control input-animate text-box-custom" type="text" placeholder="Escribe tu duda aquí..." aria-label="Escribe tu duda aquí...">
          <button type="button" class="btn btn-purple btn-animate btn-custom btn-enviar">Enviar</button>
          <div class="vr separator-custom"></div>
          <button type="button" class="btn btn-purple btn-animate btn-custom btn-reset">Restablecer</button>
        </div>
      </div>
    </div>
  </div>
 







  
  <div class="service-container">
    <section class="blog-section">
        <h2 class="blog-title" style="text-align: center;">¿En que etapa se encuentra tu gatito?</h2>
        <p class="blog-description" style="text-align: center;">
            En <strong>ZooFiPets</strong>, ofrecemos productos seleccionados cuidadosamente para asegurar la salud y bienestar de tu mascota. 
            <br>Descubre nuestra variedad de alimentos, juguetes y productos de higiene que harán feliz a tu compañero fiel. 
            <br><strong>¡Encuentra todo lo que necesitas para darle lo mejor a tu mascota!</strong>
        </p>

        <div class="container">
            <!-- TARJETA 1 -->
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejoadulto1.png" class="card-img-top" alt="Dra. María González">
                        <div class="card-body">
                            <h5 class="card-title">-Alimentación adecuada-</h5>
                            <p class="card-text">"Dale a tu cachorro una dieta balanceada y adecuada para su crecimiento. Consulta con el veterinario sobre la cantidad y frecuencia."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 2 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejo5.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                        <div class="card-body">
                            <h5 class="card-title">-Entrenamiento temprano-</h5>
                            <p class="card-text">"Inicia el entrenamiento en obediencia y hábitos higiénicos desde joven para evitar problemas futuros. Enseña órdenes básicas como 'sentado' y 'venir'."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 3 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejo3.png" class="card-img-top" alt="Dr. Alejandro Torres">
                        <div class="card-body">
                            <h5 class="card-title">-Socialización gradual-</h5>
                            <p class="card-text">"Expón a tu cachorro a nuevas personas y animales de forma gradual para fortalecer su confianza y evitar problemas de sociabilidad."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 4 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejo4.png" class="card-img-top" alt="Dr. Alejandro Torres">
                        <div class="card-body">
                            <h5 class="card-title">-Cuidado dental-</h5>
                            <p class="card-text">"Cepilla los dientes de tu cachorro desde joven para prevenir problemas dentales. Consulta con el veterinario sobre el cuidado dental."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 5 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejo6.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                        <div class="card-body">
                            <h5 class="card-title">-Visitas regulares al veterinario-</h5>
                            <p class="card-text">"Programa chequeos regulares con el veterinario para mantener a tu cachorro saludable y al día con las vacunas y desparasitaciones."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 6 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejoanciano3.png" class="card-img-top" alt="Dr. Alejandro Torres">
                        <div class="card-body">
                            <h5 class="card-title">-Suplementos y medicamentos-</h5>
                            <p class="card-text">"Considera suplementos como glucosamina y condroitina para mantener la salud articular y administrar los medicamentos recetados."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 7 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejoanciano5.png" class="card-img-top" alt="Dr. Alejandro Torres">
                        <div class="card-body">
                            <h5 class="card-title">-Ambiente cómodo-</h5>
                            <p class="card-text">"Proporciona un entorno accesible y cómodo para tu perro mayor, incluyendo camas acolchadas y rampas para facilitar su movilidad."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 8 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejoanciano4.png" class="card-img-top" alt="Dr. Carlos Mendoza">
                        <div class="card-body">
                            <h5 class="card-title">-Ejercicio suave-</h5>
                            <p class="card-text">"Aún con menos energía, proporciona a tu perro mayor actividad física suave, como paseos cortos y juegos tranquilos, para mantener su movilidad."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
        
                <!-- TARJETA 9 -->
                <div class="col">
                    <div class="card animated-card h-100">
                        <img src="consejoanciano1.png" class="card-img-top" alt="Dr. Alejandro Torres">
                        <div class="card-body">
                            <h5 class="card-title">-Tiempo de calidad-</h5>
                            <p class="card-text">"Dedica tiempo cada día para interactuar y jugar con tu mascota. Esto fortalecerá el vínculo y fomentará su bienestar emocional."</p>
                            <button type="submit" class="btn btn-purple btn-lg w-100">Enviar reserva</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Cierre de presentación de especialistas -->
            <div style="height: 20px;"></div>
            <div class="servicios-section">
            </div>
        </div>
        





<!-- Contenedor principal -->
<div class="beneficios-container">
    <!-- Bloque de Envíos Gratis -->
    <div class="beneficio">
        <div class="icono">
            <img src="camion.jpg" alt="Icono envío gratis">
        </div>
        <div class="texto">
            <h3>ENVÍOS GRATIS</h3>
            <p>Para compras por todo Santa Cruz</p>
        </div>
    </div>
    <!-- Bloque de Pagos Fáciles -->
    <div class="beneficio">
        <div class="icono">
            <img src="dinero.png" alt="Icono pagos fáciles">
        </div>
        <div class="texto">
            <h3>PAGOS FÁCILES</h3>
            <p>Puede realizar los pagos por todos los medios</p>
        </div>
    </div>
    <!-- Bloque de Productos de Calidad -->
    <div class="beneficio">
        <div class="icono">
            <img src="caja.png" alt="Icono productos de calidad">
        </div>
        <div class="texto">
            <h3>PRODUCTOS DE CALIDAD</h3>
            <p>Contamos con los mejores productos del mercado</p>
        </div>
    </div>
    <!-- Bloque de Alguna Pregunta -->
    <div class="beneficio">
        <div class="icono">
            <img src="incognita.png" alt="Icono alguna pregunta">
        </div>
        <div class="texto">
            <h3>¿ALGUNA PREGUNTA?</h3>
            <p>Envíanos un mensaje y te responderemos a la brevedad</p>
        </div>
    </div>
</div>











  <!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
  <div style="height: 50px;"></div>
  <!-- ESTRUCTURA DEL FONDO DE LOS ANIMALITOS ANIMADOS -->
  <div class="page-container">
  <div class="movie-section">
  <div class="header">
      <h1>¡GRACIAS POR VISITARNOS Y QUE TENGAS UN BUEN DÍA!</h1>
      <h2>-Te presentamos los valores que transmitimos en -ZoofiPets-</h2>
      <div class="header-image">
          <img src="fondo1.png" alt="patitas">
      </div>
  </div>
  
  <div class="movie-grid">
      <!-- TARJETA ANIMADA 1 -->
      <div class="text-center">
          <div class="movie-card">
              <img src="perro1.jpg" alt="Perrito">
              <div class="card-overlay">
                  <h5 class="card-title">-Compasión-</h5>
                  <p class="card-description"> Empatía y cuidado amoroso hacia animales y sus dueños</p>
              </div>
          </div>
      </div>
  
      <!-- TARJETA ANIMADA 2 -->
      <div class="text-center">
          <div class="movie-card">
              <img src="gato1.png" alt="gatito">
              <div class="card-overlay">
                  <h5 class="card-title">-Profesionalismo-</h5>
                  <p class="card-description">Estándares éticos y técnicos en servicios veterinarios</p>
              </div>
          </div>
      </div>
  
      <!-- TARJETA ANIMADA 3 -->
      <div class="text-center">
          <div class="movie-card">
              <img src="perro2.png" alt="Perrito">
              <div class="card-overlay">
                  <h5 class="card-title">-Dedicación-</h5>
                  <p class="card-description">Compromiso con el cuidado integral y personalizado</p>
              </div>
          </div>
      </div>
  
      <!-- TARJETA ANIMADA 4 -->
      <div class="text-center">
          <div class="movie-card">
              <img src="gato3.jpg" alt="gatito">
              <div class="card-overlay">
                  <h5 class="card-title">-Transparencia-</h5>
                  <p class="card-description">Comunicación clara, honesta y confiable</p>
              </div>
          </div>
      </div>
  
      <!-- TARJETA ANIMADA 5 -->
      <div class="text-center">
          <div class="movie-card">
              <img src="perro3.jpg" alt="Perrito">
              <div class="card-overlay">
                  <h5 class="card-title">Excelencia</h5>
                  <p class="card-description">Búsqueda continua de calidad y mejora en servicios</p>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
  
  
  
  <!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
  <div style="height: 50px;"></div>
  <!-- ESTRUCTURA DE MENSAJE Y FORMULARIO -->
      <div class="container">
          <div class="left-section">
              <h2>¿Por qué cuidar tus mascotas?</h2>
              <p>En Zoofipets, se promueve el cuidado de las mascotas por tres razones fundamentales. En primer lugar, se destaca el vínculo emocional inquebrantable que se forma entre humanos y animales al brindarles amor y atención.</p>
              <p>En segundo lugar, se garantiza la salud y el bienestar de las mascotas mediante servicios veterinarios de alta calidad y programas de cuidado personalizados.</p>
              <p>Por último, Zoofipets se compromete a crear una comunidad sólida de amantes de los animales, proporcionando recursos educativos, eventos de adopción y apoyo continuo a todas las familias que conviven con una mascota.</p>
          </div>
          <div class="right-section">
              <div class="logo">
                  <img src="LOGO.jpg" alt="Logo">
              </div>
              <form>
                  <input type="text" placeholder="Nombre Completo" required>
                  <input type="email" placeholder="Correo electrónico" required>
                  <textarea placeholder="Mensaje de opinión" required></textarea>
                  <button type="submit">Enviar</button>
              </form>
          </div>
      </div>
  
  
 
  
  



<!-- SECCIÓN DE 3 TARJETAS DE CIERRE -->
<div class="informacion-container">
    <!-- Bloque de Dirección -->
    <div class="info-bloque">
      <div class="info-icono">
        <img src="ubicacion.jpg" alt="Icono ubicación">
      </div>
      <div class="info-texto">
        <h3>ENCUÉNTRANOS EN</h3>
        <p>Av. El Trompillo 300, Santa Cruz de la Sierra, Bolivia</p>
      </div>
    </div>
  
    <!-- Bloque de Medios de Contacto -->
    <div class="info-bloque">
      <div class="info-icono">
        <img src="telefono.jpg" alt="Icono teléfono">
      </div>
      <div class="info-texto">
        <h3>MEDIOS DE CONTÁCTO</h3>
        <p>Teléfono: 3-536325</p>
        <p>Whatsapp: 760-09980</p>
        <p>Email: Gerencia&#64;veterinarialassie.com</p>
      </div>
    </div>
  
    <!-- Bloque de Horarios -->
    <div class="info-bloque">
      <div class="info-icono">
        <img src="reloj.jpg" alt="Icono horario">
      </div>
      <div class="info-texto">
        <h3>HORARIOS</h3>
        <p>Lunes - Viernes: 08:30 - 20:00</p>
        <p>Sábados: 09:30 - 21:30</p>
        <p>Emergencias: 24hrs todos los días</p>
      </div>
    </div>
  </div>
  
  
  
  









  
        <!-- REDES SOCIALES -->
        <div class="social-section">
            <h2>Síguenos en todas nuestras Redes</h2>
            <div class="social-cards">
                <a href="https://www.facebook.com/profile.php?id=61558517858308" target="_blank" class="social-card">
                    <img src="facebook.webp" alt="Facebook">
                    <div class="social-card-body">
                        <h3>Facebook</h3>
                        <p>ZoofiPets</p>
                    </div>
                </a>
                <a href="https://www.instagram.com/zoofipetss/" target="_blank" class="social-card">
                    <img src="Instagram.webp" alt="Instagram">
                    <div class="social-card-body">
                        <h3>Instagram</h3>
                        <p>ZoofiPets</p>
                    </div>
                </a>
                <a href="https://api.whatsapp.com/send?phone=59172123456" target="_blank" class="social-card">
                    <img src="wpps.webp" alt="WhatsApp">
                    <div class="social-card-body">
                        <h3>WhatsApp</h3>
                        <p>+591 79487339</p>
                    </div>
                </a>
                <a href="https://www.tiktok.com/@zoofipetss?lang=es" target="_blank" class="social-card">
                    <img src="tiktok.webp" alt="TikTok">
                    <div class="social-card-body">
                        <h3>TikTok</h3>
                        <p>ZoofiPets</p>
                    </div>
                </a>
                <a href="https://twitter.co" target="_blank" class="social-card">
                    <img src="twitter.webp" alt="Twitter">
                    <div class="social-card-body">
                        <h3>Twitter</h3>
                        <p>-ZoofiPetss-</p>
                    </div>
                </a>
            </div>
        </div>
  <body>