
 <!-- Estructura para introducir a la presentacion -->
 <div style="height: 20px;"></div>
 <!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA -->
 <div style="height: 70px;"></div>
 <div class="servicios-section">
     <h1>-Bienvenida a Nuestros Planes de Salud para Tus Gatitos y Perritos-</h1>
     <h2>Descubre Ofertas Fabulosas y Consejos Esenciales</h2>
     <p>-Bienvenido a ZoofiPetsde, donde ofrecemos planes de salud exclusivos para tus gatitos. Aquí encontrarás ofertas fabulosas diseñadas para cuidar a tus amiguitos peludos. Además, podrás acceder a videos con consejos claros sobre el cuidado de tus mascotas.-</p>
   </div>



<!-- Estilos personalizados para ajustar tamaños de tarjetas -->
<style>
    /* Estilo para personalizar tamaño de tarjetas */
    .custom-card {
        width: 400px; /* Ancho deseado para cada tarjeta */
        height: 100px; /* Altura deseada para cada tarjeta */
        border: 2px solid #858cda; /* Borde azul */
        border-radius: 10px; /* Esquinas redondeadas */
    }
  
    .custom-card .card-img-top {
        height: 200px; /* Altura deseada para la imagen de la tarjeta */
        object-fit: cover; /* Ajuste de la imagen dentro de su contenedor */
    }
  </style>

<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
    <div style="height: 50px;"></div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- TARJETA 1 DERMATOLOGIA -->
            <div class="col">
              
                <div class="card h-100 custom-card">
                    <img src="dermatologia1.jpeg" class="card-img-top" alt="Dermatología">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Dermatología-</h5>
                        <p class="card-text">"Nuestro equipo de expertos en dermatología veterinaria está dedicado a resolver problemas de piel y alergias en tus mascotas. Descubre cómo podemos ayudar a tu compañero peludo a lucir y sentirse mejor."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 2 DESPARASITACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="desparacitacion2.jpeg" class="card-img-top" alt="Desparasitación">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Desparasitación-</h5>
                        <p class="card-text">"Mantén a tu mascota saludable y feliz con nuestro servicio. Los especialistas utilizan tratamientos efectivos y seguros para eliminar parásitos internos y externos. Descubre cómo proteger a tu compañero peludo de estas amenazas invisibles."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 3 ESTERILIZACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="esterilizacion3.jpeg" class="card-img-top" alt="Esterilización">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Esterilización-</h5>
                        <p class="card-text">"La esterilización es una decisión importante para la salud y el bienestar de tu mascota. Nuestra esterilización seguras ayudan a controlar la población de mascotas y a prevenir problemas de salud. Descubre cómo esta intervención puede beneficiar a tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 4 NUTRICION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="nutricion2.jpeg" class="card-img-top" alt="Nutrición">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Nutrición-</h5>
                        <p class="card-text">""Ofrecemos programas de nutrición adaptados a las necesidades individuales de cada mascota para mejorar su vitalidad y salud. Descubre cómo una dieta equilibrada puede beneficiar a tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 5 ODONTOLOGIA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="odontologia2.jpeg" class="card-img-top" alt="Odontología">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Odontología-</h5>
                        <p class="card-text">"Nuestro equipo veterinario ofrece un cuidado dental especializado para garantizar la salud bucal de tu mascota. Desde limpiezas dentales hasta tratamientos periodontales, estamos comprometidos a mantener la sonrisa y el bienestar de tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 6 ORTOPEDIA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="ortopedia2.jpeg" class="card-img-top" alt="Ortopedia">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Ortopedia-</h5>
                        <p class="card-text">"Ofrecemos tratamientos ortopédicos especializados para mejorar la movilidad y calidad de vida de tu mascota. Descubre cómo podemos ayudar a tu compañero peludo a recuperar su bienestar."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 7 VACUNACION -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="vacuna3.jpeg" class="card-img-top" alt="Vacunación">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Vacunación-</h5>
                        <p class="card-text">"Mantén a tu mascota protegida y saludable con nuestro servicio de vacunación veterinaria. Descubre cómo nuestras vacunas pueden prevenir enfermedades y asegurar el bienestar de tu compañero peludo."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 8 MEDICINA CANINA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="canino3.jpeg" class="card-img-top" alt="Medicina Canina">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Medicina Canina-</h5>
                        <p class="card-text">"Ofrecemos atención médica completa para asegurar la salud y bienestar de tu perro. Descubre cómo nuestro equipo veterinario puede proporcionar el mejor cuidado para tu fiel compañero."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
          </div>


            <!-- TARJETA 9 MEDICINA FELINA -->
            <div class="col">
                <div class="card h-100 custom-card">
                    <img src="felino3.jpeg" class="card-img-top" alt="Medicina Felina">
                    <div class="card-body">
              <!-- CENTRAR BOTON Y LETRAS -->
          <div class="card-body text-center">
                        <h5 class="card-title">-Medicina Felina-</h5>
                        <p class="card-text">"En nuestra clínica veterinaria, brindamos cuidado médico especializado para gatos. Desde chequeos preventivos hasta tratamientos específicos, nuestro equipo está comprometido a proporcionar la mejor atención médica para tu querido felino."</p>
                        <a href="..." class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- Estructura de finalizacion para comprar -->
<div class="container">
</div>
<div class="container">
</div>
<div class="compras-section">
  <h1>-Contactanos para reservar tu cita en nuestra familia-</h1>
  <h2>-Tambien puedes hacer todas tus compras sobre nuestro catalogo que los productos te llegaran a tu domicilio en el dia-</h2>
</div>







<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- ESTRUCTURA DEL FONDO DE LOS ANIMALITOS ANIMADOS -->
<div class="page-container">
<div class="movie-section">
<div class="header">
    <h1>¡GRACIAS POR VISITARNOS Y QUE TENGAS UN BUEN DÍA!</h1>
    <h2>-Te presentamos los valores que transmitimos en -ZoofiPets-</h2>
    <div class="header-image">
        <img src="fondo1.png" alt="patitas">
    </div>
</div>

<div class="movie-grid">
    <!-- TARJETA ANIMADA 1 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro1.jpg" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">-Compasión-</h5>
                <p class="card-description"> Empatía y cuidado amoroso hacia animales y sus dueños</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 2 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="gato1.png" alt="gatito">
            <div class="card-overlay">
                <h5 class="card-title">-Profesionalismo-</h5>
                <p class="card-description">Estándares éticos y técnicos en servicios veterinarios</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 3 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro2.png" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">-Dedicación-</h5>
                <p class="card-description">Compromiso con el cuidado integral y personalizado</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 4 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="gato3.jpg" alt="gatito">
            <div class="card-overlay">
                <h5 class="card-title">-Transparencia-</h5>
                <p class="card-description">Comunicación clara, honesta y confiable</p>
            </div>
        </div>
    </div>

    <!-- TARJETA ANIMADA 5 -->
    <div class="text-center">
        <div class="movie-card">
            <img src="perro3.jpg" alt="Perrito">
            <div class="card-overlay">
                <h5 class="card-title">Excelencia</h5>
                <p class="card-description">Búsqueda continua de calidad y mejora en servicios</p>
            </div>
        </div>
    </div>
</div>
</div>
</div>







<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- ESTRUCTURA DE MENSAJE Y FORMULARIO -->
    <div class="container">
        <div class="left-section">
            <h2>¿Por qué cuidar tus mascotas?</h2>
            <p>En Zoofipets, se promueve el cuidado de las mascotas por tres razones fundamentales. En primer lugar, se destaca el vínculo emocional inquebrantable que se forma entre humanos y animales al brindarles amor y atención.</p>
            <p>En segundo lugar, se garantiza la salud y el bienestar de las mascotas mediante servicios veterinarios de alta calidad y programas de cuidado personalizados.</p>
            <p>Por último, Zoofipets se compromete a crear una comunidad sólida de amantes de los animales, proporcionando recursos educativos, eventos de adopción y apoyo continuo a todas las familias que conviven con una mascota.</p>
        </div>
        <div class="right-section">
            <div class="logo">
                <img src="LOGO.jpg" alt="Logo">
            </div>
            <form>
                <input type="text" placeholder="Nombre Completo" required>
                <input type="email" placeholder="Correo electrónico" required>
                <textarea placeholder="Mensaje de opinión" required></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>


<!-- LINEA PARA SEPARAR DESDE UNA SECCION A OTRA  -->
<div style="height: 50px;"></div>
<!-- SECCION DE CIERRE CON LOS DATOS RELEVANTES DE INFORMACION DE LA VETERINARIA -->
<div class="info-section">
  <div>
      <h1>-Dirección-</h1>
      <p>Entre la Avenida 18 de Marzo y calle las flores </p>
  </div>
  <div>
      <h1>-Días especiales-</h1>
      <p>Exclusivamente los Domingos - 7:00 am - 1:00 pm</p>
  </div>
  <div>
      <h1>-Horarios-</h1>
      <p>Sin ninguna excepcion de Lunes - Sábados 7:00 am - 2:30 pm</p>
  </div>
  <div>
      <h1>-Noticias-</h1>
      <p>Vuelve a visitarnos para estar al dia con lo que sucede con la familia</p>
  </div>
  <div>
      <h1>-Promociones y Ofertas-</h1>
      <p>Todos los dias contamos con fabulosos descuentos</p>
  </div>
</div>



      <!-- REDES SOCIALES -->
      <div class="social-section">
          <h2>Síguenos en todas nuestras Redes</h2>
          <div class="social-cards">
              <a href="https://www.facebook.com/profile.php?id=61558517858308" target="_blank" class="social-card">
                  <img src="facebook.webp" alt="Facebook">
                  <div class="social-card-body">
                      <h3>Facebook</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://www.instagram.com/zoofipetss/" target="_blank" class="social-card">
                  <img src="Instagram.webp" alt="Instagram">
                  <div class="social-card-body">
                      <h3>Instagram</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://api.whatsapp.com/send?phone=59172123456" target="_blank" class="social-card">
                  <img src="wpps.webp" alt="WhatsApp">
                  <div class="social-card-body">
                      <h3>WhatsApp</h3>
                      <p>+591 79487339</p>
                  </div>
              </a>
              <a href="https://www.tiktok.com/@zoofipetss?lang=es" target="_blank" class="social-card">
                  <img src="tiktok.webp" alt="TikTok">
                  <div class="social-card-body">
                      <h3>TikTok</h3>
                      <p>ZoofiPets</p>
                  </div>
              </a>
              <a href="https://twitter.co" target="_blank" class="social-card">
                  <img src="twitter.webp" alt="Twitter">
                  <div class="social-card-body">
                      <h3>Twitter</h3>
                      <p>-ZoofiPetss-</p>
                  </div>
              </a>
          </div>
      </div>

<!-- PIE DE PAGINA -->
<style>
.footer {
  position: static;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}
</style>
<body>
<!-- Contenido de la página -->

<div class="footer">
Veterinaria -ZoofiPets- es una marca registrada. © 2023-2024 Veterinaria -ZoofiPets- Todos los derechos reservados.
</div>
</body>